.messageContainerStyle {
  align-self: flex-end;
  margin-bottom: 16px;
  padding-left: 16px;

  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: right;
}
.messageContainerStyle:hover > .tool {
  display: flex;
}
.tool {
  display: none;
}
.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-end;
  display: flex;
}

.messageImgWrapper {
  display: inline-block;
  align-self: flex-end;
  max-width: 128px;
  height: 128px;
  cursor: pointer;
  flex-shrink: 0;
}

.messageInfoWrapperStyle {
  display: flex;
  align-self: flex-end;
}

@media (min-width: 320px) and (max-width: 767px) {
  .messageImgWrapper {
    max-width: 128px;
    height: 128px;
    padding: 2px 2px;
  }
}
