.listItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0px 20px;
}

.listItem:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.selectedGroupStyle {
  background: #e6e6e6;
}

.listItemName {
  max-width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listItemIcon {
  width: 16px;
  height: 16px;
  margin: 0px 5px;
}

.shieldIcon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAUCAYAAABroNZJAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEaADAAQAAAABAAAAFAAAAABGcxxxAAACBElEQVQ4Ee2Uy0sbURSHnUliArYBISgGBBHEhZQuXLmoNFQIRETGSMhDREGk4EI3dilCpVi6qAsfa23zIEIgCwPZiV2UQkBFEUM3KgU3gbYSIYEk43eHziKdZPAP8MLh3Ht+jzlz596RWhqMRCLxslarRYAmiE4iK8tyzOl0Hvh8vvL/EkkvpFKpjlKpNKWq6gy1F5IkCXKauCaC1LvJv6knybvhcPg7WRtSNBrtBfgIaZxsJX/jqV8dDse+oih/BIuaHI/H3zCdZq6Q2+BeMl+LRCJRKRaLnbDoorhF7IVCoStITUcymXxWrVYVXncO0rDFYhkSnaiI39Hep6bKBkA6nX5eLBbv0L6VBc6k0oBnWiqXy5oGraSZmLIfAT6ZGDdJZnM5JqrdCJlXbDabpuG81MTGimPdZy4xonxiTUMTNzJdnEN5xUlsNVKbV2hgRKB2u/1cdLKPUV+lUllrLqlHuCoDaFbo4off7/8lc9y//DNa5grsZDIZ0/2B44N/RJS4qLPCXvsV5HI5Wz6f32Q9j/uxAIPB4Kkg6CObzbYVCoX34Et0ccPGjgUCgTOBayY6kes+CWGbdTt5w+VyrXq93nvqo6w3iR5Mdq1W6yIGf3VdnYko0m47aZ2YQ3BL/on4NfmCDhf4VRwyrxsGEx3FbBCTzxj0U/vgdru3PB5Pw9v+AMlK0jim04IbAAAAAElFTkSuQmCC")
    center center no-repeat;

  cursor: pointer;
  display: block;
  width: 18px;
  height: 20px;
  margin: 0px 5px;
}

.lockIcon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAADqADAAQAAAABAAAAFAAAAACXoLbZAAABXklEQVQ4EeWTP0vEQBDFb7MLJxZXaKf1YSXWfgIbsVOS2AoiCBYKdv6pBFErFUEQLJJgIWIT8Cysr/MLyHViKSnVJP4mmhADuRNbFyZvZ9572c3sRjUqIwiCuTRNV4kppVQC/Ugcua57X5Za5cT3/fMkSW4xjWK6BANinOjAHZS1Kk8gFhBcYdjn7Zt5XRDuDG5Zaz1j23ZHasWKENuY7qomETmOswLXjeN4S3IZmTEMwybEBHH9Vf75pM570xuqkzmTGaMoakNois85UUXLsoRr0bwx4TIjWxiWBHMsWDMyju/MtMU31ohry4qOTcMesprgK/FWox6i3iIe2Pa6YXKBqUmyw7zfVhucsaFRS+CpGNvEHi3fBQcOdjiCedGSbjJ5H+j4FqD/YKr/3Jz/YpSfVe7pb4ems9mB9nDMe573Ava9ABybwTSLric3YY3kGDwBix+7ZvmU+pMxZuMTSuKTUiOk1nUAAAAASUVORK5CYII=")
    center center no-repeat;

  cursor: pointer;
  display: block;
  width: 16px;
  height: 21px;
  margin: 0px 5px;
}

.itemThumbnailStyle {
  display: inline-block;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.itemDetailStyle {
  width: calc(100% - 70px);
  flex-grow: 1;
  padding: 15px;
}

.itemNameWrapperStyle {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100;
  margin: 0;
}

.itemDescStyle {
  border-bottom: 1px solid #eaeaea;
  padding: 0px 0px 5px 0px;
  font-size: 12px;
  color: rgba(20, 20, 20, 0.4);
}

.itemDescStyle:hover {
  background: #e6e6e6;
  cursor: pointer;
}
