.tableRowStyle {
  border: 1px solid #eaeaea;
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 14px;
}
.tableRowStyle > td {
  padding: 0.625em;
}
.tableRowStyle > img {
  width: 36px;
  height: 36px;
  float: left;
}

.avatarStyle {
  float: left;
  height: 35px;
  width: 35px;
}
.avatarStyle > span {
  top: 26px;
  left: -8px;
}

.nameStyle {
  margin: 10px 0 0 0;
  width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}

.roleStyle {
  width: 150px;
  font-size: 12px;
}

.actionStyle {
  width: 70px;
  cursor: pointer;
}
.actionStyle > img {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .roleStyle {
    width: 115px;
  }
}
