<div class="userInfoScreenStyle">
  <div class="headerStyle">
    <h4 class="headerTitleStyle">More</h4>
  </div>
  <div class="detailStyle">
    <div class="thumbnailStyle">
      <cometchat-avatar [item]="user"></cometchat-avatar>
    </div>
    <div class="userDetailStyle">
      <div class="userNameStyle">
        {{ name }}
      </div>
      <p class="userStatusStyle">Online</p>
    </div>
  </div>
  <div class="optionsStyle">
    <div class="optionTitleStyle">Preferences</div>
    <div class="optionListStyle">
      <div class="optionStyle Notifications">
        <div class="optionNameStyle">Notifications</div>
      </div>
      <div class="optionStyle Privacy">
        <div class="optionNameStyle">Privacy and Security</div>
      </div>
      <div class="optionStyle Chats">
        <div class="optionNameStyle">Chats</div>
      </div>
    </div>
    <div class="optionTitleStyle Other">Other</div>
    <div class="optionListStyle">
      <div class="optionStyle Help">
        <div class="optionNameStyle">Help</div>
      </div>
      <div class="optionStyle Report">
        <div class="optionNameStyle">Report a Problem</div>
      </div>
    </div>
  </div>
</div>
