.users__wrapper{
    height: 100%;
    width: 100%;
    padding: 8px;
    background: transparent;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .users__header{
        flex-basis: 3%;
        padding-left: 8px;
        display: flex;
        align-items: center;
    }
    .card__sections{
        flex-basis: 95%;

    }

}
.users__wrapper::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  .users__wrapper::-webkit-scrollbar-thumb {
    background: rgb(232, 229, 229);
    border-radius: 8px;
  }

.card__content{
    display: grid;
    grid-template-columns: auto auto auto;
    height: fit-content;
    width: 100%;
}

.cards{
    display: flex;
    min-height: 120px;
    height: fit-content;
    // justify-content: space-between;
    justify-content: space-around;
    cursor: pointer;
    margin: 14px 8px;
    padding: 10px 8px;
    border-radius: 12px;
    .right__content{
        flex-basis: 85%;
        .card__description{
            text-align: left;
            margin: 8px 0;
        }
    }
    .card__icon{
        flex-basis: 34px;
    }
}

@media (min-width: 320px) and (max-width: 895px) {
    .cards{
        justify-content: space-evenly;
        height: fit-content;
        min-height: fit-content;
    }
    .card__content{
        grid-template-columns: auto;

    }
  }
  @media (min-width: 895px) and (max-width: 1260px) {
    .card__content{
        grid-template-columns: auto auto;

    }
    .cards{
        justify-content: space-between;
    }
  }