<div class="messageContainerStyle">
  <!--ToolTip-->
  <tool-tip
    class="tool"
    [ngClass]="{
      toolGroup: MessageDetails?.receiverType == 'group'
    }"
    [MessageDetails]="MessageDetails"
    (actionGenerated)="actionHandler($event)"
    *ngIf="showToolTip"
  ></tool-tip>
  <div class="messageWrapperStyle">
    <!--Avatar-->
    <div class="messageThumbnailStyle" *ngIf="avatarIfGroup">
      <cometchat-avatar
        [item]="MessageDetails?.sender"
        [enableUserStatus]="false"
        class="avatarStyle"
      ></cometchat-avatar>
    </div>
    <div class="messageDetailStyle">
      <!--name-->
      <div class="nameWrapperStyle">
        <span class="nameStyle">
          {{ name }}
        </span>
      </div>
      <div class="messageImgContainerStyle">
        <div class="messageImgWrapperStyle" (click)="open()">
          <div *ngIf="imageLoader" class="imageLoaderStyle">&nbsp;</div>
          <img [src]="imageUrl" loading="lazy" />
        </div>
      </div>
      <div class="messageInfoWrapperStyle">
        <span class="messageTimestampStyle">
          {{ getTime() }}
        </span>
        <!--ReplyCount-->
        <cometchat-reply-count
          *ngIf="showReplyCount"
          [MessageDetails]="MessageDetails"
          (actionGenerated)="actionHandler($event)"
        >
        </cometchat-reply-count>
      </div>
    </div>
  </div>
</div>
