<!--backdrop-->
<div>
  <cometchat-backdrop></cometchat-backdrop>

  <div class="modalWrapperStyle">
    <span class="modalCloseStyle" (click)="closeBanMemberModal()"></span>
    <div class="modalBodyStyle">
      <table class="modalTableStyle">
        <caption class="tableCaptionStyle">
          Banned Members
        </caption>
        <thead>
          <tr>
            <th>Name</th>
            <th class="roleColumnStyle">Scope</th>
            <th class="actionColumnStyle">Unban</th>
          </tr>
        </thead>
        <!--message container-->
        <caption class="contactMsgStyle" *ngIf="displayDecoratorMessage">
          <p class="contactMsgTxtStyle">
            {{ decoratorMessage }}
          </p>
        </caption>
        <tbody class="tableBodyStyle" (scroll)="handleScroll($event)">
          <!--banned members-->
          <ban-member-view
            *ngFor="let member of bannedmemberlist"
            [member]="member"
            [item]="item"
            (actionGenerated)="actionHandler($event)"
          >
          </ban-member-view>
        </tbody>
      </table>
    </div>
  </div>
</div>
