.messageContainerStyle {
  align-self: flex-end;
  margin-bottom: 16px;
  padding-left: 16px;

  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: right;
}

.messageContainerStyle:hover > .tool {
  display: flex;
}

.tool {
  display: none;
}

.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-end;
  display: flex;
}

.messageTxtWrapperStyle {
  display: inline-block;
  border-radius: 12px;
  background-color: #39f;
  color: #fff;
  padding: 8px 12px;
  align-self: flex-end;
  width: auto;
}

.pollQuestionStyle {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  width: 100%;
  font-size: 14px;
}

.pollAnswerStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.pollAnswerStyle > li {
  background-color: #fff;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  width: 100%;
  position: relative;
}

.pollTotalStyle {
  font-size: 13px;
  margin: 0;
  align-self: flex-end;
}

.pollPercentStyle {
  max-width: 100%;

  width: 100%;

  border-radius: 8px 8px 8px 8px;
  background-color: #e6e6e6;
  min-height: 35px;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.answerWrapperStyle {
  width: 100%;
  color: #141414;
  display: flex;
  align-items: center;
  min-height: 35px;
  height: 100%;
  z-index: 2;
}

.answerWrapperStyle p {
  margin: 0;
  padding: 6px 12px;
  width: calc(100% - 40px);
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 14px;
}

.answerWrapperStyle span {
  width: 40px;
  padding: 6px 12px;
  font-weight: bold;
  display: inline-block;
  font-size: 13px;
}

.messageInfoWrapperStyle {
  align-self: flex-end;
  display: flex;
}
