.messageContainerStyle {
  align-self: flex-end;
  margin-bottom: 16px;
  padding-left: 16px;

  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: right;
}
.messageContainerStyle:hover > .tool {
  display: flex;
}
.tool {
  display: none;
}

.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-end;
  display: flex;
}

.messageImgWrapper {
  display: inline-block;
  align-self: flex-end;
  max-width: 300px;
  height: 200px;
  cursor: pointer;
  flex-shrink: 0;
  width: -webkit-fill-available;
}
.messageImgWrapper img {
  border-radius: 8px;
  height: 100%;
  max-width: 100%;
}

.messageInfoWrapperStyle {
  display: flex;
  align-self: flex-end;
}

.imageLoaderStyle {
  width: 200px;
  background-color: rgba(212, 209, 209, 0.3);
  height: 200px;
  float: right;
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .messageImgWrapper {
    min-width: 50px;
    max-width: 150px;
    height: 100px;
    padding: 2px 2px;
  }
}
