<div class="unifiedStyle">
  <div class="unifiedSidebarStyle" [@FadeInFadeOut]="checkAnimatedState">
    <nav-bar
      [item]="item"
      [type]="type"
      [groupToUpdate]="groupToUpdate"
      [groupToLeave]="groupToLeave"
      [groupToDelete]="groupToDelete"
      [lastMessage]="lastMessage"
      (onUserClick)="userClicked($event)"
    ></nav-bar>
  </div>
  <div
    class="unifiedMainStyle"
    *ngIf="item !== null"
    [ngClass]="{
      unifiedMainSecondaryStyle: threadMessageView || viewDetailScreen
    }"
  >
    <cometchat-message-list-screen
      [item]="item"
      [type]="type"
      [callMessage]="callMessage"
      [composedthreadmessage]="composedthreadmessage"
      [groupMessage]="groupMessage"
      (actionGenerated)="actionHandler($event)"
    >
    </cometchat-message-list-screen>
  </div>
  <!--Detail Screen-->
  <div
    class="unifiedSecondaryStyle"
    *ngIf="threadMessageView || viewDetailScreen"
  >
    <div
      *ngIf="type === 'user'"
      [ngClass]="{
        detailScreenStyle: viewDetailScreen
      }"
    >
      <comet-chat-user-detail
        *ngIf="viewDetailScreen"
        [item]="item"
        [type]="type"
        (actionGenerated)="actionHandler($event)"
      >
      </comet-chat-user-detail>
    </div>
    <div *ngIf="type === 'group'">
      <cometchat-group-detail
        *ngIf="viewDetailScreen"
        [item]="item"
        [type]="type"
        (actionGenerated)="actionHandler($event)"
      ></cometchat-group-detail>
    </div>

    <message-thread
      *ngIf="threadMessageView"
      [item]="threadMessageItem"
      [type]="threadMessageType"
      [parentMessage]="threadMessageParent"
      (actionGenerated)="actionHandler($event)"
    ></message-thread>
  </div>
  <image-view
    *ngIf="fullScreenViewImage"
    [MessageDetails]="imageView"
    [open]="true"
    (actionGenerated)="actionHandler($event)"
  ></image-view>
  <cometchat-call-alert
    (actionGenerated)="actionHandler($event)"
  ></cometchat-call-alert>
  <call-screen
    [item]="item"
    [type]="type"
    [incomingCall]="incomingCall"
    [outgoingCall]="outgoingCall"
    (actionGenerated)="actionHandler($event)"
  ></call-screen>
</div>
