<div class="messageContainerStyle">
  <tool-tip
    class="tool"
    [MessageDetails]="MessageDetails"
    (actionGenerated)="actionHandler($event)"
    *ngIf="showToolTip"
  ></tool-tip>
  <div class="messageWrapperStyle">
    <div class="messageImgWrapper">
      <!--sticker img-->
      <img [src]="stickerUrl" [alt]="stickerName" loading="lazy" />
    </div>
  </div>
  <div class="messageInfoWrapperStyle">
    <reply-count
      *ngIf="showReplyCount"
      [MessageDetails]="MessageDetails"
      (actionGenerated)="actionHandler($event)"
    >
    </reply-count>
    <cometchat-read-reciept
      [MessageDetails]="MessageDetails"
    ></cometchat-read-reciept>
  </div>
</div>
