<div class="messageContainerStyle">
  <!--ToolTip Component-->
  <tool-tip
    class="tool"
    *ngIf="showToolTip"
    [MessageDetails]="MessageDetails"
    (actionGenerated)="actionHandler($event)"
  ></tool-tip>
  <div class="messageWrapperStyle">
    <div class="messageTxtWrapperStyle" *ngIf="linkPreview === false">
      <p class="messageTxtStyle message__txt">
        {{ MessageDetails.data.text }}
      </p>
    </div>
    <div class="messagePreviewContainerStyle" *ngIf="linkPreview">
      <div class="messagePreviewWrapperStyle">
        <div class="previewImageStyle">
          <img [src]="linkImage" loading="lazy" />
        </div>
        <div class="previewDataStyle">
          <div class="previewTitleStyle" *ngIf="linkTitle !== ''">
            <span>
              <!--titile-->
              {{ linkTitle }}
            </span>
          </div>
          <div class="previewDescStyle" *ngIf="linkDescription !== ''">
            <span>
              <!--descript-->
              {{ linkDescription }}
            </span>
          </div>
          <div class="previewTextStyle">
            <!--actual msg-->
            <a [href]="linkUrl" target="_blank"> {{ linkUrl }} </a>
          </div>
        </div>
        <div class="previewLinkStyle">
          <a [href]="linkUrl" target="_blank">
            {{ linkText }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="messageInfoWrapperStyle">
    <!--ReplyCount component-->
    <cometchat-reply-count
      *ngIf="showReplyCount"
      [MessageDetails]="MessageDetails"
      (actionGenerated)="actionHandler($event)"
    >
    </cometchat-reply-count>
    <!--ReadReciept component-->
    <cometchat-read-reciept
      [MessageDetails]="MessageDetails"
    ></cometchat-read-reciept>
  </div>
</div>
