<div style="display: flex; flex-direction: row; flex-wrap: wrap; height: 100%;overflow: auto; ">

  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div style="text-align: center;">
        <div style=" min-height: 50px;">
          <cometchat-avatar image="https://data-us.cometchat.io/assets/images/avatars/cyclops.png" cornerRadius='50%'>

          </cometchat-avatar>
        </div>

        <h2>
          Avatar Component
        </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard
        </p>
      </div>
    </div>
  </div>


  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div style="text-align: center;">

        <div style="width: 100%;display: flex; min-height: 50px;">
          <cometchat-badge count={{10}} style="margin: auto;"></cometchat-badge>
        </div>
        <h2>
          Badge Count
        </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard

        </p>
        <div style="display: flex;">
          <Ul style="display:flex; width: 100%; margin: auto; padding: 0px; padding: 5px;">
            <li class="chips">
              <a href="/contact-list">User</a>
            </li>
            <li class="chips">
              <a href="/group-list">Groups</a>
            </li>
            <li class="chips">
              <a href="/conversations-list">Conversations</a>
            </li>

          </Ul>
        </div>
      </div>
    </div>
  </div>



  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div style="text-align: center">
        <div style="width: 100%;display: flex;">
          <status-indicator style="margin: auto;">

          </status-indicator>
        </div>
        <h2>
          Status Indicator
        </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard
        </p>
        <div style="display: flex;">
          <Ul style="display:flex; width: 100%; margin: auto; padding: 0px; padding: 5px;">
            <li class="chips">
              <a href="/conversation-screen">coversations</a>
            </li>
            <li class="chips">
              <a href="/group-screen">group</a>
            </li>
            <li class="chips">
              <a href="/contact-screen">contact</a>
            </li>

          </Ul>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div>
        <p style="text-align: center">

        </p>
        <div style="display: flex;">
          <cometchat-contact-list style="margin: auto;"></cometchat-contact-list>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div>
        <p style="text-align: center">

        </p>
        <div style="display: flex;">
          <cometchat-group-list style="margin: auto;"></cometchat-group-list>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 90%; margin: 50px;  margin-left: auto; margin-right: auto; max-width:400px; min-width: 30%;">
    <div
      style="background-color: white; width: 100%; height: 100%; box-shadow: 0px 0px 5px 0px #3335; border-radius: 10px; padding: 5px;">
      <div>
        <p style="text-align: center">
        </p>
        <div style="display: flex;">
          <cometchat-conversations-list style="margin: auto;">
          </cometchat-conversations-list>
        </div>
      </div>
    </div>
  </div>
</div>
