
<div class="theme__backdrop" >
   
</div>
<div class="theme__container" [ngStyle]="style.wrapperStyle()">
    <div class="header">
        <span class="title" [ngStyle]="style.titleStyle()">Theme</span>
        <div class="close__icon" [ngStyle]="style.closeIconStyle()" (click)="closeButton()"></div>
    </div>
    <div class="description" [ngStyle]="style.cardDescriptionStyle()">
        CometChatTheme is a style applied to every component and every view in the activity or component in the UI Kit.
    </div>
    <div class="footer">

        <div class="switch__button">
            <span class="mode__title" [ngStyle]="style.modeTitleStyle()"> Theme </span>
            <div class="tabs__container">
                <ul class="tab__list" [ngStyle]="style.tabListStyle()">
                  <li class="tab" (click)="setActiveTab('Default')" (mouseenter)="handleMouseHover('Default', $event)"
                    (mouseleave)="handleMouseHover('Default', $event)" 
                    [ngStyle]="style.modeStyle('Default')"> Default </li>
                    <li class="tab" (click)="setActiveTab('Custom')" (mouseenter)="handleMouseHover('Custom', $event)"
                    (mouseleave)="handleMouseHover('Custom', $event)" 
                    [ngStyle]="style.modeStyle('Custom')"> Custom </li>
                </ul>
              </div>
            
        </div>
    </div>
    <div class="button">
        <button [ngStyle]="style.buttonStyle()" class="view__button" (click)="redirect('conversationsWithMessages')" >View</button>
    </div>
</div>