* {
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.groupScreenStyle {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.groupScreenStyle * {
  box-sizing: border-box;
}

.groupScreenStyle *::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

.groupScreenStyle *::-webkit-scrollbar-track {
  background: #ffffff00;
}

.groupScreenStyle *::-webkit-scrollbar-thumb {
  background: #ccc;
}

.groupScreenStyle *::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.groupScreenSidebarStyle {
  width: 280px;
  border-right: 1px solid #eaeaea;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.groupScreenSidebarStyle .css-15jyeqi {
  height: calc(100% - 130px);
}

.groupScreenMainStyle {
  width: calc(100% - 280px);
  height: 100%;
  order: 2;
}
.groupScreenMainSecondaryStyle {
  width: calc(100% - 500px);
}
.groupScreenSecondaryStyle {
  float: right;
  border-left: 1px solid #eaeaea;
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  order: 3;
}

@media (min-width: 320px) and (max-width: 767px) {
  .groupScreenSidebarStyle {
    position: absolute !important;

    top: 0;
    bottom: 0;
    width: 100% !important;
    z-index: 2;
    background-color: #fff;
  }

  .groupScreenMainStyle {
    width: 100% !important;
    background-color: white;
  }

  .groupScreenSecondaryStyle {
    position: absolute !important;
    right: 0 !important;
    top: 0;
    bottom: 0;
    width: 100% !important;
    z-index: 2;
    background-color: #fff;
  }
}
