.messageReactionsStyle {
  font-size: 11px;
  padding: 2px 6px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  border-radius: 12px;
  margin: 4px 4px 0 0;
  cursor: pointer;
  background-color: #f6f6f6;
  border: 1px solid transparent;
  float: right;
  height: 30px;
}
.messageReactionsHoverStyle {
  cursor: pointer;
}
.messageReactionsHoverStyle:hover {
  border: 1px solid #eaeaea;
}

.messageReactionsSecondaryStyle {
  border: 1px solid #39f;
}

.emojiButtonStyle {
  outline: 0;
  border: 0;
  border-radius: 10px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: 30px;
  margin: 5px;
  padding: 5px 10px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.reactionCountStyle {
  padding: 0 1px 0 3px;
}
.regularReactionIcon {
  height: 24px;
  width: 24px;
  padding: 2px;
}

.regularReaction {
  display: flex;
  flex-flow: wrap;
}

.regularReactionSecondaryStyle {
  justify-content: flex-end;
}
