.login__wrapper{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.login__page{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 0 8px;
    .header__section{
       padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .content__section{
        display: flex;
        padding: 8px 0;
        width: 100%;
        justify-content: space-between;
        .left__content{
            height: 100%;
            width: 50%;
            .login__container{
                height: 100%;
                width: 100%;
                margin-top: 8px;
                padding: 24px 8px;
                border-radius: 8px;
                .sample__users{
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                .login__header{
                    margin-left:16px;
                }
                .cards{
                    cursor: pointer;
                    display: flex;
                    border-radius: 8px;
                    padding: 8px;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 8px 4px;
                   flex-basis: 45%;
                    .user__details{
                        margin-left: 8px;
                    }
                }
                .login__field{
                    display: flex;
                 flex-direction: column;
                    margin-top: 24px;
                    padding: 12px;
                      height: 190px;
                   justify-content: space-evenly;
                   input{
                    height: 42px;
                    border-radius: 12px;
                    padding: 8px;
                    background: transparent;
                    outline: none;
                   }
                   input::placeholder{
                       color: rgb(169, 169, 169);
                   }
                   .login__button{
                       height: 38px;
                       width: 100%;
                       border-radius: 8px;
                       border: none;
                   }
                }
                .signup__section{
                    margin-top: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    button{
                        padding: 4px;
                        margin-top: 16px;
                    }
                }
            }
        }
        .right__content{
            height: 100%;
            width: 50%;
            margin-left: 2px;
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }
    .footer__section{
        margin-bottom: 8px;
        bottom: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 100%;
    }
}
button{
    cursor: pointer;
}
.error__text{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -15px;
    position: relative;
    padding: 0 12px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .left__content{
        width: 100% !important;
        height: 100% !important;
    }
    .right__content{
     display: none !important;
     width: 0% !important;
 }
 .login__wrapper{
     height: max-content !important;
 }
 .footer__section{
     position: initial !important;
 }
 .login__page{
     width: 98% !important;
 }
 .signup__section{
     margin-top: 20px !important;
 }
  }