<div class="shared__wrapper">
    <div class="shared__header" [ngStyle]="style.headerTitleStyle()">
        Shared
    </div>
    <div class="card__sections">
        <div class="section__header" [ngStyle]="style.sectionHeaderStyle()">
            Resources</div>
        <div class="card__content">
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('soundManager')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(soundIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()"> Sound Manager
                    </span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatSoundManager allows you to play different types
                        of audio which is required for incoming and outgoing
                        events in UI Kit.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('theme')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(themeIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">Theme</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatTheme is a style applied to every component and
                        every view in the activity or component in the UI Kit.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('localize')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(localizeIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">Localize</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatLocalize allows you to detect the language of
                        your users based on their browser or device settings and
                        set the language accordingly.

                    </div>
                </div>
            </div>
        </div>
        <div class="section__header" [ngStyle]="style.sectionHeaderStyle()">
            Views</div>
        <div class="card__content">
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('ListItem')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(conversationIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">List Item</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        ListItem displays data on a tile and that tile may
                        contain leading, trailing, title and subtitle widgets.To
                        learn more about this component click here.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('avatar')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(avatarIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">Avatar</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatAvatar component displays an image or
                        user/group avatar with fallback to the first two letters
                        of the user name/group name.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('statusIndicator')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(statusIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">Status
                        Indicator</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        StatusIndicator component indicates whether a user is
                        online or offline.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('badge')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(badgeIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Badge'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatBadgeCount is a custom component which is used
                        to display the unread message count. It can be used in
                        places like ConversationListItem, etc.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('receipt')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(receiptIconURL)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Receipt'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatReceipt component renders the receipts such as
                        sending, sent, delivered, read and error state indicator
                        of a message.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('text')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(textBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Text
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatTextBubble component displays a text message to
                        learn more about this component click here.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('image')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(imageBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Image
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatImageBubble component displays a media message
                        containing an image to learn more about this component
                        click here.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('video')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(videoBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Video
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatVideoBubble component displays a media message
                        containing a video to learn more about this component
                        click here
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('audio')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(audioBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Audio
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatAudioBubble displays a media message containing
                        an audio.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('file')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(fileBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'File
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        CometChatFileBubble component displays a media message
                        containing a file. Click here to view the component..
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('form')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(formBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Form
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        The CometChatFormBubble component is used to render a
                        form within a chat bubble.
                        To learn more about this component tap here
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.cardStyle()"
                (click)="openModal('card')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(cardBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Card
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        The CometChatCardBubble component is used to display a
                        card within a
                        chat bubble. To learn more about this component tap
                        here.
                    </div>
                </div>
            </div>
            <div class="cards" [ngStyle]="style.schedulerStyle()"
                (click)="openModal('scheduler')">
                <div class="card__icon"
                    [ngStyle]="style.iconStyle(schedulerBubbleIcon)">
                </div>
                <div class="right__content">
                    <span class="card__title"
                        [ngStyle]="style.cardTitleStyle()">{{'Scheduler
                        Bubble'}}</span>
                    <div class="card__description"
                        [ngStyle]="style.cardDescriptionStyle()">
                        The CometChatSchedulerBubble component is used to render
                        an event scheduler within a chat bubble.
                        To learn more about this component tap here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
<data-item-demo *ngIf="openDataItem" [closeButton]="closeModal">

</data-item-demo>
<avatar-demo *ngIf="openAvatar" [closeButton]="closeModal">

</avatar-demo>
<badge-demo *ngIf="openBadgeCount" [closeButton]="closeModal">

</badge-demo>
<message-receipt-demo *ngIf="openMessageReceipt" [closeButton]="closeModal">

</message-receipt-demo>
<list-item-demo *ngIf="openConversationListItem" [closeButton]="closeModal">

</list-item-demo>
<status-indicator-demo *ngIf="openStatusIndicator" [closeButton]="closeModal">

</status-indicator-demo>
<sound-manager-demo *ngIf="openSoundManager" [closeButton]="closeModal">

</sound-manager-demo>
<theme-demo *ngIf="openTheme" [closeButton]="closeModal">

</theme-demo>
<localize-demo *ngIf="openLocalize" [closeButton]="closeModal">

</localize-demo>
<file-bubble-demo *ngIf="openFileBubble" [closeButton]="closeModal">

</file-bubble-demo>
<video-bubble-demo *ngIf="openVideoBubble" [closeButton]="closeModal">

</video-bubble-demo>
<audio-bubble-demo *ngIf="openAudioBubble" [closeButton]="closeModal">

</audio-bubble-demo>
<image-bubble-demo *ngIf="openImageBubble" [closeButton]="closeModal">

</image-bubble-demo>
<text-bubble-demo *ngIf="openTextBubble" [closeButton]="closeModal">

</text-bubble-demo>
<form-bubble-demo *ngIf="openFormBubble" [closeButton]="closeModal">

</form-bubble-demo>
<card-bubble-demo *ngIf="openCardBubble" [closeButton]="closeModal">

</card-bubble-demo>
<scheduler-bubble-demo *ngIf="openSchedulerBubble" [closeButton]="closeModal">

</scheduler-bubble-demo>
