<div class="wrapperStyle">
  <p class="titleStyle">
    The UI Kit has three different ways to make fully customizable UI required
    to build a chat application.
  </p>
  <p class="subtitleStyle">
    The UI Kit has been developed to help developers of different levels of
    experience to build a chat application in a few minutes to a couple of
    hours.
  </p>
  <p class="helpTextStyle">
    The UI Kit has three different ways to make chat Applications.
  </p>

  <div class="componentStyle">
    <div class="boxStyle">
      <div class="titleWrapperStyle">
        <div class="thumbnailWrapperStyle">
          <avatar [avatar]="defaultAvatar"></avatar>
        </div>
        <h2 class="componentTitleStyle">UI Unified</h2>
      </div>
      <div class="descWrapperStyle">
        <p>
          It open's Activity directly from UI Library. It is pre-defined UI
          helpful for user to build chat system by integrating it within
          minutes.
        </p>
      </div>
      <ul class="linkWrapperStyle">
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle">Launch</a>
          <!-- Click To Be Implemented -->
        </li>
      </ul>
    </div>

    <div class="boxStyle">
      <div class="titleWrapperStyle">
        <div class="thumbnailWrapperStyle">
          <avatar [avatar]="defaultAvatar"></avatar>
        </div>
        <h2 class="componentTitleStyle">UI Screens</h2>
      </div>
      <div class="descWrapperStyle">
        <p>
          It open's Screen Activity where user can use predefined screen present
          in library. User can create their own layout using screen in few
          minutes.
        </p>
      </div>
      <ul class="linkWrapperStyle">
        <li>
          <a class="linkStyle">Conversations</a>
        </li>
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle">Groups</a>
          <!-- Click To Be Implemented -->
        </li>
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle" (click)="navigateToContactScreen()">Contacts</a>
          <!-- Click To Be Implemented -->
        </li>
      </ul>
    </div>

    <div class="boxStyle">
      <div class="titleWrapperStyle">
        <div class="thumbnailWrapperStyle">
          <avatar [avatar]="defaultAvatar"></avatar>
        </div>
        <h2 class="componentTitleStyle">UI Components</h2>
      </div>
      <div class="descWrapperStyle">
        <p>
          It open's Activity directly from UI Library. It is pre-defined UI
          helpful for user to build chat system by integrating it within
          minutes.
        </p>
      </div>
      <ul class="linkWrapperStyle">
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle" (click)="navigateToContactPage()">Contacts</a>
          <!-- Click To Be Implemented -->
        </li>
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle" (click)="navigateToGroupListPage()">Groups</a>
          <!-- Click To Be Implemented -->
        </li>
        <li>
          <!-- Click To Be Implemented -->
          <a class="linkStyle">Conversations</a>
          <!-- Click To Be Implemented -->
        </li>
      </ul>
    </div>
  </div>

  <div class="logoutBtn">
    <button type="button" (click)="onLogout()">Logout</button>
  </div>
</div>
