<div class="messageContainerStyle">
  <!--ToolTip-->
  <tool-tip
    class="tool"
    [ngClass]="{
      toolGroup: MessageDetails?.receiverType == 'group'
    }"
    [MessageDetails]="MessageDetails"
    (actionGenerated)="actionHandler($event)"
    *ngIf="showToolTip"
  ></tool-tip>
  <div class="messageWrapperStyle">
    <!--Avatar-->
    <div class="messageThumbnailStyle" *ngIf="avatarIfGroup">
      <avatar
        [item]="MessageDetails?.sender"
        [enableUserStatus]="false"
        class="avatarStyle"
      ></avatar>
    </div>
    <!--Avatar Ends-->
    <div class="messageDetailStyle">
      <!--Name-->
      <div class="nameWrapperStyle">
        <span class="nameStyle">
          {{ name }}
        </span>
      </div>
      <!--Name End-->
      <div class="messageVideoContainer">
        <div class="messageVideoWrapperStyle">
          <video controls>
            <source [src]="videoUrl" />
          </video>
        </div>
      </div>
      <div class="messageInfoWrapperStyle">
        <span class="messageTimestampStyle"> {{ getTime() }}</span>
        <!--ReplyCount-->
      </div>
    </div>
  </div>
</div>
