* {
  font-family: Inter, sans-serif;
}

.userDetailStyle {
  height: 100%;
  box-sizing: border-box;
}

.userDetailStyle > * {
  box-sizing: border-box;
}

.headerStyle {
  padding: 19px 16px;
  position: relative;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerCloseStyle {
  cursor: pointer;
  display: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVRIS+3TQQ6AIAwEwPZl+g56kZeJB/5pmmBCjEIXIfEAV5Mdu1CmwYcH59MEqg3/s6IY40ZEi4j42gjwBCl8T8FeREIJgYA8nJkP55xOUjxmoCVcZRPQGm4CvoTDABEFy8vJLwWuCEVMgP7R7XmaJzEDrQgEPCB9F+26PK2Lmdeui1bb2LfvcEUoNIFqY8MrOgHJVToZIc83egAAAABJRU5ErkJggg==")
    center center no-repeat;
  width: 24px;
  height: 24px;
}

.headerTitleStyle {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.sectionStyle {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100% - 70px);
}

.privacySectionStyle {
  width: 100%;
}

.privacySectionStyle > div {
  color: #ff3b30;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
}

.sectionHeaderStyle {
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: 500 !important;
  line-height: 20px;
  color: #cccccc;
  text-transform: uppercase;
}

.sectionContentStyle {
  width: 100%;
  margin: 6px 0px;
}

.contentItemStyle {
  width: 100%;
}

.itemLinkStyle {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  color: #ff3b30;
}

.sharedMedia {
  height: 100%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .headerCloseStyle {
    display: block;
  }
}
