.messageContainerStyle {
  align-self: flex-start;
  margin-bottom: 16px;

  padding-right: 16px;
  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: left;
}
.messageContainerStyle:hover > .tool {
  display: flex;
}
.tool {
  display: none;
}
.toolGroup {
  padding-left: 45px;
}

.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-start;
  display: flex;
}

.messageThumbnailStyle {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  float: left;
  flex-shrink: 0;
}

.messageDetailStyle {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.messageImgContainerStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-start;
  display: flex;
}

.messageImgWrapperStyle {
  display: inline-block;
  align-self: flex-start;
  max-width: 300px;
  height: 200px;
  cursor: pointer;
}
.messageImgWrapperStyle img {
  border-radius: 8px;
  height: 100%;
  max-width: 100%;
}

.messageInfoWrapperStyle {
  align-self: flex-start;
  padding: 3px 5px;
  display: inherit;
}

.messageTimestampStyle {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.6);
}
.imageLoaderStyle {
  width: 200px;
  background-color: rgba(212, 209, 209, 0.3);
  height: 200px;
  float: right;
  border-radius: 20px;
}

.nameWrapperStyle {
  padding: 3px 5px;
  align-self: flex-start;
}

.nameStyle {
  font-size: 10px;
  color: rgba(20, 20, 20, 0.6);
}

@media (min-width: 320px) and (max-width: 767px) {
  .messageImgWrapperStyle {
    min-width: 50px;
    max-width: 150px;
    height: 100px;
    padding: 2px 2px;
  }
}
