<div class="groupScreenStyle">
  <div class="groupScreenSidebarStyle" [@FadeInFadeOut]="checkAnimatedState">
    <!-- Group List left side bar -->
    <cometchat-group-list
      [enableSelectedGroupStyling]="true"
      [groupToUpdate]="groupToUpdate"
      [groupToLeave]="groupToLeave"
      [groupToDelete]="groupToDelete"
      (onGroupClick)="groupClicked($event)"
    ></cometchat-group-list>
  </div>

  <div
    class="groupScreenMainStyle"
    *ngIf="item !== null"
    [ngClass]="{
      groupScreenMainSecondaryStyle: threadMessageView || viewDetailScreen
    }"
  >
    <cometchat-messages
      [item]="item"
      [type]="type"
      [callMessage]="callMessage"
      [groupMessage]="groupMessage"
      [composedThreadMessage]="composedThreadMessage"
      (actionGenerated)="actionHandler($event)"
    ></cometchat-messages>
  </div>

  <div
    class="groupScreenSecondaryStyle"
    *ngIf="threadMessageView || viewDetailScreen"
  >
    <!-- Message Thread Right side bar -->
    <cometchat-message-thread
      *ngIf="threadMessageView"
      [item]="threadMessageItem"
      [type]="threadMessageType"
      [parentMessage]="threadMessageParent"
      [loggedInUser]="loggedInUser"
      (actionGenerated)="actionHandler($event)"
    ></cometchat-message-thread>

    <!-- Detail sceen -->
    <cometchat-group-details
      *ngIf="viewDetailScreen"
      [item]="item"
      [type]="type"
      (actionGenerated)="actionHandler($event)"
    ></cometchat-group-details>
  </div>
  <cometchat-image-viewer
    *ngIf="fullScreenViewImage"
    [messageDetails]="imageView"
    [open]="true"
    (actionGenerated)="actionHandler($event)"
  ></cometchat-image-viewer>
  <cometchat-incoming-call
    (actionGenerated)="actionHandler($event)"
  ></cometchat-incoming-call>
  <cometchat-outgoing-call
    [item]="item"
    [type]="type"
    [incomingCall]="incomingCall"
    [outgoingCall]="outgoingCall"
    (actionGenerated)="actionHandler($event)"
  ></cometchat-outgoing-call>
</div>
