.messageContainerStyle {
  margin-bottom: 16px;
  max-width: 100%;
  clear: both;
  flex-shrink: 0;

  align-self: flex-end;
}

.messageWrapperStyle {
  flex: 1 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageWrapperDeletedMessageStyle {
  flex: 1 1;
  position: relative;
  width: 100%;
}

.messageTxtWrapperStyle {
  display: inline-block;
  border-radius: 12px;
  padding: 8px 12px;
  align-self: flex-start;
  width: auto;
  background-color: #f6f6f6;
  font-style: italic;

  align-self: flex-end;
}

.messageTxtStyle {
  font-size: 14px !important;
  margin: 0;
  line-height: 20px !important;
  color: rgba(20, 20, 20, 0.6);
}

.messageInfoWrapperStyle {
  align-self: flex-end;
}

.messageTimeStampStyle {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  color: rgba(20, 20, 20, 0.6);
}

.messageThumbnailStyle {
  width: 36px;
  height: 36px;
  margin: 12px 5px;
  float: left;
}

.messageDetailStyle {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nameWrapperStyle {
  align-self: flex-start;
}

.nameStyle {
  font-size: 10px;
  color: rgba(20, 20, 20, 0.6);
}

.deletedMessageReceivedStyle {
  align-self: flex-start;
}

.deletedMessageWrapperStyle {
  flex: 1 1;
  position: relative;
  width: 100%;
}
