.messageContainerStyle {
  align-self: flex-end;
  margin-bottom: 16px;
  padding-left: 16px;

  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: right;
}
.messageContainerStyle:hover > .tool {
  display: flex;
}
.tool {
  display: none;
}

.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-end;
  display: flex;
}

.messageAudioWrapperStyle {
  display: inline-block;
  border-radius: 12px;
  align-self: flex-end;
}
.messageAudioWrapperStyle > audio {
  max-width: 250px;
  display: inherit;
  outline: 0 !important;
}

.messageInfoWrapperStyle {
  align-self: flex-end;
  display: flex;
}
