.messageContainerStyle {
  align-self: flex-start;
  margin-bottom: 16px;

  padding-right: 16px;
  max-width: 65%;
  clear: both;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  float: left;
}
.messageContainerStyle:hover > .tool {
  display: flex;
}
.tool {
  display: none;
}
.toolGroup {
  padding-left: 45px;
}

.messageWrapperStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-start;
  display: flex;
}

.messageThumbnailStyle {
  width: 36px;
  height: 36px;
  margin: 10px 5px;
  float: left;
  flex-shrink: 0;
}

.messageDetailStyle {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.nameWrapperStyle {
  align-self: flex-start;
}

.nameStyle {
  font-size: 10px;
  color: rgba(20, 20, 20, 0.6);
}

.messageImgContainerStyle {
  width: auto;
  flex: 1 1;
  align-self: flex-start;
  display: flex;
}

.messageImgWrapperStyle {
  display: inline-block;
  align-self: flex-start;
  max-width: 128px;
  height: 128px;
  cursor: pointer;
}

.messageInfoWrapperStyle {
  align-self: flex-start;
  padding: 3px 5px;
  display: inherit;
}

.messageTimestampStyle {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 767px) {
  .messageImgWrapperStyle {
    max-width: 128px;
    height: 128px;
    padding: 2px 2px;
  }
}
