<div class="wrapperStyle">
  <p *ngIf="onLoginError" class="errorStyle">{{ errorMsg }}</p>
  <p class="titleStyle">Kitchen Sink App</p>
  <p class="subtitleStyle">Login with one of our sample users</p>

  <div class="userContainerStyle">
    <div
      *ngFor="let user of userList"
      class="userWrapperStyle"
      (click)="onLogin(user.uid)"
    >
      <div class="thumbnailWrapperStyle">
        <cometchat-avatar [avatar]="user.avatar"></cometchat-avatar>
      </div>
      <p>{{ user.name }}</p>
    </div>
  </div>

  <div class="uidWrapperStyle">
    <div>
      <p class="subtitleStyle">Login continue with UID</p>
    </div>
    <div class="inputWrapperStyle">
      <input
        type="text"
        placeholder="Enter your UID here"
        [(ngModel)]="userInput"
      />
    </div>
    <div class="loginBtn">
      <button type="button" (click)="onLogin(userInput)">Login</button>
    </div>
  </div>
</div>
