<div class="chats__wrapper">
    <div class="chats__header" [ngStyle]="style.headerTitleStyle()">
        Chats
    </div>
    <div class="card__content">
        <div class="cards" [ngStyle]="style.cardStyle()" (click)="redirect('conversations-with-messages')">
            <div class="card__icon" [ngStyle]="style.iconStyle(sidebarIconURL)">
            </div>
            <div class="right__content"  >
                <span class="card__title" [ngStyle]="style.cardTitleStyle()" >Conversation With Messages</span>
                <div class="card__description" [ngStyle]="style.cardDescriptionStyle()">
                    CometChatConversationsWithMessages is an independent component used to set up a screen that shows the recent conversations and allows you to send a message to the user or group from the list.
                </div>
            </div>
        </div>
        <div class="cards" [ngStyle]="style.cardStyle()" (click)="redirect('conversations')">
            <div class="card__icon" [ngStyle]="style.iconStyle(listwrapperIconURL)">
            </div>
            <div class="right__content">
                <span class="card__title" [ngStyle]="style.cardTitleStyle()" >Conversations</span>
                <div class="card__description" [ngStyle]="style.cardDescriptionStyle()">
                    CometChatConversations is an independent component used to set up a screen that shows the recent conversations alone.
                </div>
            </div>
        </div>
        <div class="cards" [ngStyle]="style.cardStyle()" (click)="redirect('contacts')">
            <div class="card__icon" [ngStyle]="style.iconStyle(contactsIconURL)">
            </div>
            <div class="right__content">
                <span class="card__title" [ngStyle]="style.cardTitleStyle()" >Contacts</span>
                <div class="card__description" [ngStyle]="style.cardDescriptionStyle()">
                    CometChatContacts is an independent component used to set up a tabs screen  to switch between users and groups.
                </div>
            </div>
        </div>

    </div>
</div>