.tableRowStyle {
  border: 1px solid #eaeaea;
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
}

.tableColumnStyle {
  padding: 8px;
  width: 100%;
}

.avatarStyle {
  float: left;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.nameStyle {
  margin: 10px 0px;
  width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectionColumnStyle {
  padding: 8px;
  width: 50px;
}

.selectionBoxStyle {
  display: none;
}

.selectionBoxStyle + label {
  display: block;
  cursor: pointer;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAflBMVEUAAAAzmf8ymv8ymP80mP8zmv80mf8zmv8zmP8zmf8zmv8ymf8zmf8zmf8zmf8zmf8zmf81mv88nf8+n/9Vqv9lsv9ptP9qtf9ttv9wt/95vP9+v/+Av/+k0f+z2f+42//B4P/T6f/U6f/d7v/r9f/t9v/v9//3+//6/f////+liWmjAAAAEHRSTlMAS0xNT4OFiL2+v8Dx8vP02HWCqwAAAAFiS0dEKcq3hSQAAAB1SURBVBgZBcEHQsIAFAWwx94lVIayl5Z//wuaJBku1sB6PkiSCQCMkyEA0M8CAJilAXD8PbAKgG1XPwhA+6obBPv3iWu9Wgi+67M7V7cFgUv9dXUGApt71Q2QBr6ejxZYZg4ATDMAAHrJGABGSdKfNUAz7SX/8SYQ2ZGUTKMAAAAASUVORK5CYII=")
    right center / 16px no-repeat;
  user-select: none;
  float: right;
  padding: 0.625em;
}

.selectionBoxStyle:checked + label {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWBAMAAAA2mnEIAAAALVBMVEWqqqqSkpKWlpaXl5eWlpaWlpaioqKhoaGWlpby8vKWlpby8vLz8/OWlpb///+3+yqOAAAADXRSTlMGB4iJiovKy+Xl5ubnmt/z4gAAAAFiS0dEDm+9ME8AAAA3SURBVBjTYxBdexcCbjkyhJ17BwFvihnWvIOBXQz34Oy3Q5K9Gs6eweC+D8p8XcQg3Av1+w0FAE4f12rhSontAAAAAElFTkSuQmCC")
    right center / 16px no-repeat;
  background-size: 16px;
}
