.chatListStyle {
  z-index: 1;
  width: 100%;
  flex: 1 1 0;
  order: 2;
  position: relative;
  height: 100%;
}

.listWrapperStyle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;

  width: 100%;
  z-index: 100;
  padding-top: 14px;
}

.actionMessageTxtStyle {
  padding: 8px 12px;
  margin-bottom: 16px;
  text-align: center;
}

.messageDateContainerStyle {
  text-align: center;
  margin-bottom: 16px;
}

.messageDateStyle {
  padding: 8px 12px;
  background-color: #f6f6f6;
  color: #141414;
  border-radius: 10px;
}
.decoratorMessageStyle {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
}

.decoratorMessageTxtStyle {
  margin: 0;
  height: 30px;
  color: #cccccc;
  font-size: 24px !important;
  font-weight: 600;
}
