.tableRowStyle {
  border: 1px solid #eaeaea;
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 15px;
}

.tableColumnStyle {
  padding: 8px;
}

.tableColumnStyle img {
  width: 36px;
  height: 36px;
  float: left;
}

.avatarStyle {
  float: left;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.avatarStyle span {
  top: 26px;
  left: -8px;
}

.nameStyle {
  margin: 10px 0px;
  width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roleStyle {
  padding: 5px;
  float: left;
  font-size: 12px;
}

.scopeStyle img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.actionColumnStyle {
  width: 70px;
  padding: 8px;
}

.actionColumnStyle img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.scopeWrapperStyle {
  float: left;
  width: 100%;
}

.scopeWrapperStyle img {
  margin: 6px 3px;

  float: left;
}

.scopeSelectionStyle {
  width: 65%;
  border: 0;
  box-shadow: rgba(20, 20, 20, 0.04) 0 0 0 1px inset;
  border-radius: 8px;
  background-color: rgba(20, 20, 20, 0.04);
  padding: 6px;
  color: rgba(20, 20, 20, 0.6);
  float: left;
}

.headerCloseStyle {
  cursor: pointer;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>')
    center center no-repeat;
  margin: 6px 3px;

  float: left;
}

@media (min-width: 340px) and (max-width: 767px) {
  .nameStyle {
    width: 60%;
  }

  .scopeStyle {
    width: 170px;
  }

  .actionColumnStyle {
    width: 55px;
  }
}
