<div class="userScreenStyle">
  <div class="userScreenSidebarStyle" [@FadeInFadeOut]="checkAnimatedState">
    <cometchat-user-list
      [item]="item"
      (onUserClick)="userClicked($event)"
    ></cometchat-user-list>
  </div>
  <!-- Render this Chat Screen only if a user or a group is clicked -->
  <div
    class="userScreenMainStyle"
    *ngIf="curentItem !== null"
    [ngClass]="{
      userScreenMainSecondaryStyle: threadMessageView || viewDetailScreen
    }"
  >
    <cometchat-messages
      [item]="curentItem"
      [type]="type"
      [composedThreadMessage]="composedThreadMessage"
      [callMessage]="callMessage"
      (actionGenerated)="actionHandler($event)"
    ></cometchat-messages>
  </div>

  <!-- Message Thread View Below -->
  <div
    class="userScreenSecondaryStyle"
    *ngIf="threadMessageView || viewDetailScreen"
  >
    <div
      [ngClass]="{
        detailScreenStyle: viewDetailScreen
      }"
    >
      <cometchat-user-details
        *ngIf="viewDetailScreen"
        [item]="curentItem"
        [type]="type"
        (actionGenerated)="actionHandler($event)"
      ></cometchat-user-details>
    </div>
    <cometchat-message-thread
      *ngIf="threadMessageView"
      [item]="threadMessageItem"
      [type]="threadMessageType"
      [parentMessage]="threadMessageParent"
      [loggedInUser]="loggedInUser"
      (actionGenerated)="actionHandler($event)"
    ></cometchat-message-thread>
  </div>
  <cometchat-incoming-call
    (actionGenerated)="actionHandler($event)"
  ></cometchat-incoming-call>
  <cometchat-outgoing-call
    [item]="curentItem"
    [type]="type"
    [incomingCall]="incomingCall"
    [outgoingCall]="outgoingCall"
    (actionGenerated)="actionHandler($event)"
  ></cometchat-outgoing-call>
  <cometchat-image-viewer
    *ngIf="fullScreenViewImage"
    [messageDetails]="imageView"
    [open]="true"
    (actionGenerated)="actionHandler($event)"
  ></cometchat-image-viewer>
</div>
