<div class="home__screen">
  <div class="home__screen__sidebar" [@FadeInFadeOut]="checkAnimatedState"
    [ngStyle]="style.sidebarStyle()">
    <div class="sidebar__header">
      <span class="header__title" [ngStyle]="style.headerTitleStyle()">
        UI Components
      </span>
    </div>
    <div class="sidebar__content">
      <div class="cards" routerLink="chats-module" [ngStyle]="style.cardStyle()"
        (click)="changePage('chats-module')">
        <div class="left__content">
          <span class="card__title" [ngStyle]="style.cardTitleStyle()">
            Chats
          </span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Conversations module helps you to list the recent conversations
            between your users and groups. To learn more about its components
            click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <div class="cards" routerLink="calls-module" [ngStyle]="style.cardStyle()"
        (click)="changePage('calls-module')">
        <div class="left__content">
          <span class="card__title" [ngStyle]="style.cardTitleStyle()">
            Calls
          </span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Calls module helps you to list the recent calls between your users
            and groups. To learn more about its components click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <!-- call log started -->
      <div class="cards" routerLink="call-logs-module"
        [ngStyle]="style.cardStyle()" (click)="changePage('call-logs-module')">
        <div class="left__content">
          <span class="card__title" [ngStyle]="style.cardTitleStyle()">
            Call Logs</span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Call Logs module helps you to list the recent calls between your
            users and groups. To learn more about its components click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <!-- call log ended -->
      <div class="cards" routerLink="messages-module"
        [ngStyle]="style.cardStyle()" (click)="changePage('messages-module')">
        <div class="left__content">
          <span class="card__title"
            [ngStyle]="style.cardTitleStyle()">Messages</span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Messages module helps you to send and receive in a conversation
            between a user or group. To learn more about its components click
            here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <div class="cards" routerLink="users-module" [ngStyle]="style.cardStyle()"
        (click)="changePage('users-module')">
        <div class="left__content">
          <span class="card__title"
            [ngStyle]="style.cardTitleStyle()">Users</span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Users module helps you list all the users available in your app. To
            learn more about its components click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <div class="cards" routerLink="groups-module"
        [ngStyle]="style.cardStyle()" (click)="changePage('groups-module')">
        <div class="left__content">
          <span class="card__title"
            [ngStyle]="style.cardTitleStyle()">Groups</span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Groups module helps you list all the groups you are part of in your
            app. To learn more about its components click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
      <div class="cards" routerLink="shared-module"
        [ngStyle]="style.cardStyle()" (click)="changePage('shared-module')">
        <div class="left__content">
          <span class="card__title"
            [ngStyle]="style.cardTitleStyle()">Shared</span>
          <div class="card__description"
            [ngStyle]="style.cardDescriptionStyle()">
            Share module contains several reusable components that are divided
            into Primary, Secondary and SDK derived components. To learn more
            about these components click here.
          </div>
        </div>
        <div class="card__icon" [ngStyle]="style.iconStyle()"></div>
      </div>
    </div>
    <div class="sidebar__footer">
      <footer [ngStyle]="style.footerStyle()">4.2.0</footer>
    </div>
  </div>
  <div class="home__screen__main" [ngStyle]="style.mainscreenStyle()">
    <div class="navbar">
      <div class="navbar__left">
        <span class="root__page" [ngStyle]="style.rootPageStyle()"
          (click)="goBack()">
          UI Components
        </span>
        <span class="pointer" [ngStyle]="style.pointerStyle()">
          <span [ngStyle]="style.navigateIconURL()"></span>
        </span>
        <span class="active__page" [ngStyle]="style.currentPageStyle()">
          {{ pageName }}</span>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="navbar__right">
  <div class="theme__mode" [ngStyle]="style.themeModeIoncStyle()"
    (click)="changeTheme()"></div>
  <div class="logout__icon" [ngStyle]="style.logoutIoncStyle()"
    (click)="logout()"></div>
</div>

<cometchat-incoming-call></cometchat-incoming-call>
