* {
  font-family: Inter, sans-serif;
  overflow: hidden;
}

.userScreenStyle {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.userScreenStyle * {
  box-sizing: border-box;
}

.userScreenStyle *::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

.userScreenStyle *::-webkit-scrollbar-track {
  background: #ffffff00;
}

.userScreenStyle *::-webkit-scrollbar-thumb {
  background: #ccc;
}

.userScreenSidebarStyle {
  width: 280px;
  border-right: 1px solid #eaeaea;
  height: 100%;
  position: relative;
}

.userScreenMainStyle {
  width: calc(100% - 280px);

  height: 100%;
  order: 2;
}

.userScreenMainSecondaryStyle {
  width: calc(100% - 500px);
}

.userScreenSecondaryStyle {
  float: right;
  border-left: 1px solid #eaeaea;
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  order: 3;
}
.detailScreenStyle {
  height: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .userScreenSidebarStyle {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100% !important;
    background-color: white;
    z-index: 2;
  }
  .userScreenMainStyle {
    width: 100% !important;
    background-color: white;
  }
  .userScreenSecondaryStyle {
    position: absolute !important;
    right: 0 !important;
    top: 0;
    bottom: 0;
    width: 100% !important;
    z-index: 2;
    background-color: white;
  }
}
